.maintenance-history {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ced4da;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e7f0ff;
    cursor: pointer;
}


.back-button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 10px 15px; 
    cursor: pointer; 
    margin-bottom: 20px; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.back-button:hover {
    background-color: #0056b3; 
}
